* {
  box-sizing: border-box;
  font-family: 'Domine', serif;
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  font-size: 62.5%;
}
.red {
  background-color: #933 !important;
}
.green {
  background-color: #393 !important;
}
.blue {
  background-color: #339 !important;
}
.orange {
  background-color: #963 !important;
}
.red_body {
  background-color: #cc6666 !important;
}
.green_body {
  background-color: #66cc66 !important;
}
.blue_body {
  background-color: #6666cc !important;
}
.orange_body {
  background-color: #cc9966 !important;
}
.ManaPool {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.ManaPool div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 6rem;
  color: #eee;
  font-size: 2.4rem;
  border: 4px solid #222;
}
.ManaPool .thp {
  width: 100%;
  border-bottom: none;
  background-color: red;
}
.ManaPool .bhp {
  width: 100%;
  border-top: none;
  background-color: red;
}
.ManaPool .rm {
  background-color: red;
  border-right: none;
}
.ManaPool .gm {
  background-color: green;
  border-right: none;
}
.ManaPool .bm {
  background-color: blue;
  border-right: none;
}
.ManaPool .om {
  background-color: orange;
}
.ManaGain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2229;
}
.ManaGain div div {
  font-size: 4.8rem;
  padding: 2rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  margin: 0.5rem;
  border-radius: 50%;
}
.ManaGain .red {
  background: radial-gradient(circle at 28% 28%, #ffffff 2%, #ff0000 15%, #990000, #000);
}
.ManaGain .green {
  background: radial-gradient(circle at 28% 28%, #b3ffb3 2%, #008000 15%, #001a00, #000);
}
.ManaGain .blue {
  background: radial-gradient(circle at 28% 28%, #ffffff 2%, #0000ff 15%, #000099, #000);
}
.ManaGain .orange {
  background: radial-gradient(circle at 28% 28%, #ffffff 2%, #ffa500 15%, #996300, #000);
}
.LoggerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: orange;
  border: 4px black solid;
  border-bottom: none;
}
.LoggerButton p {
  text-align: center;
  font-size: 2.4rem;
}
.PhaseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: red;
  border: 4px black solid;
  border-top: none;
  border-bottom: none;
}
.PhaseButton p {
  text-align: center;
  font-size: 2.4rem;
}
.Cards {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: #222;
}
.Card:hover {
  box-shadow: 4px 4px 3px #222;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.Card .header {
  background-color: #222;
  height: 5%;
}
.Card .body {
  width: 90%;
  height: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Card .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 3px solid #222;
  border-radius: 3px;
  margin-top: 8px;
  padding: 3px;
  font-size: 12px;
}
.Card .head .element {
  width: 16px;
}
.Card .head .name {
  text-align: center;
}
.Card .type {
  width: 90%;
  border: 3px solid #222;
  border-radius: 3px;
  padding: 3px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.Card .text {
  width: 90%;
  border: 3px solid #222;
  border-radius: 3px;
  padding: 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Card .stat_block {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.Card .stat_block div {
  width: 20%;
  height: 100%;
  border: 3px solid #222;
  border-radius: 3px;
  padding: 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Card .footer {
  background-color: #222;
  color: #eee;
  height: 5%;
  width: 90%;
  font-size: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Game {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  min-height: 100%;
  padding: 2rem;
}
.Game .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  min-width: 200px;
  height: 100%;
}
.Game .stats .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.Game .stats .player_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: grey;
  font-size: 1.6rem;
  border-left: 4px solid #111;
  border-right: 4px solid #111;
  box-shadow: 2px 2px 4px 4px inset #1111;
}
.Game .stats .player_name.top {
  margin-top: 40px;
  border-top: 4px solid #111;
}
.Game .stats .player_name.bottom {
  margin-bottom: 40px;
  border-bottom: 4px solid #111;
}
.Game .play_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  min-width: 250px;
}
.Game .play_area .creatures {
  display: flex;
  width: 100%;
  height: 25rem;
  padding: 0.1rem;
  border: 3px black solid;
  background-color: #0008;
}
.Game .hist_stack {
  display: flex;
  flex-direction: column;
  width: 10%;
  min-width: 140px;
}
.Game .hist_stack .effects_stack {
  width: 100%;
  height: 100%;
  padding: 0.1rem;
  border: 3px black solid;
  background-color: #0008;
}
.modal-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0002;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.cards_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cards_menu div {
  display: flex;
  justify-content: center;
}
.cards_menu .CardList {
  width: 25%;
  height: 6rem;
  border: 4px black solid;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards_menu .CardList img {
  width: 75%;
}
.cards_menu .CardList:last-child {
  border-right: 4px black solid;
}
.button-symbol {
  width: 10vw;
  max-width: 100px;
  min-width: 50px;
  filter: invert(100%);
}
body {
  background-image: url('../bg.jpg');
  background-size: cover;
  background-position: center;
}
.App {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
