.modal-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0002;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.cards_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
  }
  .CardList {
    width: 25%;
    height: 6rem;
    border: 4px black solid;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 75%;
    }
    &:last-child {
      border-right: 4px black solid;
    }
  }
}
.button-symbol {
  width: 10vw;
  max-width: 100px;
  min-width: 50px;
  filter: invert(100%);
}
