@import 'reset.less';
@import 'globals.less';
@import 'manaPool.less';
@import 'manaGain.less';
@import 'card.less';
@import 'game.less';
@import 'cardList.less';

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  padding-top: 4rem;
  padding-bottom: 10rem;
}
